:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px auto;
  max-width: auto;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.about-paragraphs {
  font-family: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-link:hover {
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

img {
  width: 300%;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.bg-white {
  text-align: justify;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #212529;
}

.border {
  border: 1px;
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
}

.border:hover {
  color: white;
}
.img-fluid {
  border: 5px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  h2 {
    font-size: 32px;
    margin: 0;
    text-align: center;
  }
  h1 {
    font-size: 48px;
    line-height: 1.5;
    margin: 0;
    text-align: center;
  }
  h3 {
    font-size: 24px;
    opacity: 0.7;
    margin: 0;
    text-align: center;
  }
  .border {
    display: block;
    text-align: center;
  }
  .project-link {
    margin: 0 20px;
    border-radius: 5px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  .rounded {
    display: none;
  }
}
